<!doctype html>
<html lang="en">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="Generate hotkeys for DAS Trader based on your criteria">
<title>DAS Trader hotkey generator | dlindegren.com</title>
<link href="https://fonts.googleapis.com/css?family=Fjalla+One%7CUbuntu&display=swap" rel="stylesheet">
{% load static %}
<link href="{% static 'das_hotkey_generator/dist/main.css' %}" rel="stylesheet">
<div class="l-grid">
  <header class="l-grid__header">
    <div class="c-panel c-panel--no-top-border c-panel--bottom-padding">
      <h1 class="c-masthead"><span class="das">DAS</span> <span class="trader">Trader</span> hotkey generator</h1>
    </div>
  </header>
  <main class="l-grid__content">
    <div class="c-panel">
      <img class="c-img c-img--right-inline" src="{% static 'das_hotkey_generator/img/keyboard.jpg' %}" alt="onosendi's WASD keyboard used for position sizing in DAS Trader">
      <p class="c-paragraph">If you came across this and have no idea what it is, <a href="https://forums.bearbulltraders.com/topic/518-position-sizing">read the article</a> I wrote on position sizing, and how I manage my risk.</p>
      <p class="c-paragraph">When I change my risk, it can be tedious entering new share values for every key. I wrote this generator to solve this problem, and I thought I would share it with anyone else that was interested.</p>
      <p class="c-paragraph">If you are interested in the CLI version of this generator, it can be found <a href="https://gist.github.com/onosendi/11ae4c274e87425b02eb676928547960">here</a>.</p>
    </div>
    <div class="c-panel">
      <h2 class="c-panel__title">Instructions</h2>
      <p class="c-paragraph"><b>Overview of what we will be doing:</b></p>
      <ol class="c-ordered-list">
        <li>Backup your current hotkey file</li>
        <li>Use this generator to generate hotkeys</li>
        <li>Paste the generated hotkeys into a new hotkey file</li>
        <li>Load the new hotkey file into DAS Trader</li>
      </ol>
      <h3>Backup</h3>
      <p class="c-paragraph">Before we go messing with our hotkey file, we should back it up in case something goes wrong. Navigate to your DAS install directory, which is <mark>C:\DAS Trader Pro</mark> by default.</p>
      <p class="c-paragraph"><b>There are a few files in there named hotkey:</b></p>
      <dl class="c-def-list">
        <dt>hotkey</dt>
        <dd>this is an XML document</dd>
        <dt>HotKey</dt>
        <dd>this is a PDF document</dd>
        <dt><mark>Hotkey</mark></dt>
        <dd><mark>this is an HTK document, the one we want</mark></dd>
      </dl>
      <p class="c-paragraph">Once you have located this file:</p>
      <ol class="c-ordered-list">
        <li>Copy the file: right click and select "copy"</li>
        <li>Paste the file: press Ctrl+V</li>
        <li>Rename the newly created file "Hotkey - Copy" to "MyHotkeys"</li>
      </ol>
      <div class="c-alert c-alert--info">
        <p class="c-alert__title">Note</p>
        <p class="c-paragraph">We are going to be adding the new hotkeys to "MyHotkeys". The original "Hotkey" file you copied from will be your backup.</p>
      </div>
      <h3>Generating Hotkeys</h3>
      <p class="c-paragraph">Use the form on this page to generate your hotkeys, then copy the output to your clipboard.</p>
      <h3>Edit Your Hotkey File</h3>
      <p class="c-paragraph">Now we are going to paste the hotkeys we generated into your newly created "MyHotkeys" file. To do this, we need to open the file up in an editor:</p>
      <ol class="c-ordered-list">
        <li>Right click "Myhotkeys" and select "Open with...", then select "Notepad"</li>
        <li>Paste the lines that you generated at the bottom of the file, then save it</li>
      </ol>
      <h3>Load Your Hotkeys Into DAS</h3>
      <p class="c-paragraph">Now it is time to load your new hotkey file into DAS Trader:</p>
      <ol class="c-ordered-list">
        <li>Open DAS</li>
        <li>From the menu bar, open your hotkey configuration by selecting "Setup", then "Hotkey"</li>
        <li>Click "Browse" at the bottom of the window, then open your newly created hotkey file "MyHotkeys"</li>
        <li>Click "Ok", and you are finished!</li>
      </ol>
    </div>
  </main>
  <aside class="l-grid__generator">
    <div class="c-panel">
      <h2 class="c-panel__title">Generator</h2>
    </div>
  </aside>
</div>
</html>
