[Unit]
Description=uWSGI instance to serve dlindegren.com
After=network.target

[Service]
User=dlindegren
Group=www-data
WorkingDirectory=/var/www/vhosts/dlindegren/htdocs/
Environment="PATH=/var/www/vhosts/dlindegren/htdocs/venv/bin"
ExecStart=/var/www/vhosts/dlindegren/htdocs/venv/bin/uwsgi --ini uwsgi.ini

[Install]
WantedBy=multi-user.target
