.c-alert {
  border: $border-width solid transparent;
  margin-bottom: 2rem;
  padding: $alert-padding $alert-padding 0 $alert-padding;
}

.c-alert__title {
  font-weight: bold;
}

@each $color, $value in $color-attn {
  .c-alert--#{$color} {
    @include create-alert($value);
  }
}
