.c-form__control {
  @include browser-prefix('appearance', none, ('webkit', 'moz'));
  background: $color-white;
  background-clip: padding-box;
  border: $border-width solid $gray-200;
  font: inherit;
  margin: 0;
  padding: $input-padding;
  width: 100%;
  
  &:focus {
    background: $color-white;
    border-color: $color-yellow;
    color: $gray-900;
    outline: 0;
  }

  @include form-placeholder;
}

.c-form__row {
  display: flex;
  margin: 0 -0.75rem 1.5rem;
}

.c-form__group {
  padding: 0 0.75rem;
  width: 50%;
}

.c-form__check-label {
  margin-bottom: 0;
}
