{% extends "default/_base.html" %}
{% block page_title %}Daniel Lindegren{% endblock %}
{% block page_description %}Web page for Daniel Lindegren: web developer, graphic designer, and lover for code{% endblock %}
{% block body %}
{{ STATIC_URL }}
<div class="container">
  <article>
    <h1>Daniel Lindegren</h1>
    <p>Hello, my name is <em>Daniel Lindegren</em>. I am a full stack web developer currently living in Phoenix, Arizona.</p>
    <ul class="social-links">
      <li><a href="http://github.com/onosendi"><i class="fa fa-github"></i></a></li>
      <li><a href="http://linkedin.com/in/dlindegren"><i class="fa fa-linkedin"></i></a></li>
    </ul>
  </article>
</div>
{% endblock %}
