.l-grid {
  display: grid;
  grid-column-gap: $grid-gap;
  grid-template-columns: repeat($grid-columns, 1fr);
  margin: 0 auto;
  padding: 0 $grid-gap;

  @media (min-width: 768px) {
    max-width: 1140px;

    .l-grid__content {
      grid-column: 1 / span 6;
    }

    .l-grid__generator {
      grid-column: 7 / span 6;
      grid-row: 2;
    }
  }
}

.l-grid__header {
  grid-column: 1 / span 12;
  grid-row: 1;
}

.l-grid__content {
  grid-column: 1 / span 12;
  grid-row: 2;
}

.l-grid__generator {
  grid-column: 1 / span 12;
  grid-row: 3;
}
