html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background: $color-background;
  color: $gray-900;
  font: normal 1.6rem / 1.4 $text-font-stack;
}

strong {
  font-weight: bold;
}

b {
  font-weight: bold;
}

img {
  display: block;
}

mark {
  background: $color-highlight;
}

a {
  color: $color-anchor;
  text-decoration: none;
  border-bottom: 1px dotted $color-anchor;
}

a:focus {
  color: $color-anchor;
  outline: thin dotted;
}

a:hover {
  color: $color-anchor-hover;
  border-bottom: 1px dotted $color-anchor-hover;
}

h3 {
  font-weight: bold;
  margin-bottom: 1.5rem;
}

hr {
  border-bottom: none;
  border-left: none;
  border-right: none;
  border-top: $border-width solid $gray-200;
  margin-bottom: 1.5rem;
  padding: 0;
}

label {
  display: inline-block;
  font-weight: bold;
  margin-bottom: 0.5rem;
}
