<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="icon" href="data:;base64,iVBORw0KGgo=">
{% block meta %}
{% endblock %}
<title>{% block page_title %}{% endblock %} | dlindegren.com</title>
<link rel="stylesheet" href="{{ url_for('static', filename='admin/dist/style.css') }}">
{% include "_flash-messages.html" %}
{% block body %}
{% endblock %}
<script src="{{ url_for('static', filename='admin/dist/main.js') }}"></script>
{% block script %}
{% endblock %}
</html>
