{% extends "/admin/_base.html" %}
{% block page_title %}Admin login{% endblock %}
{% block meta %}
<meta name="robots" content="noindex">
<meta name="googlebot" content="noindex">
{% endblock %}
{% block body %}
<form method="post" novalidate>
  {% if form.email.errors %}
  {{ form.email.errors[0] }}
  {% endif %}
  <br>
  {{ form.email.label }}
  {{ form.email }}

  <br>
  {% if form.password.errors %}
  {{ form.password.errors[0] }}
  {% endif %}
  <br>
  {{ form.password.label }}
  {{ form.password }}
  <br>

  {{ form.remember_me.label }}
  {{ form.remember_me }}
  <br>

  {{ form.recaptcha }}
  {{ form.submit }}
  {{ form.hidden_tag() }}
</form>
{% endblock %}
