.c-btn {
  border: $border-width solid transparent;
  cursor: pointer;
  display: inline-block;
  font: inherit;
  margin-bottom: 1.5rem;
  padding: $btn-padding;
  text-align: center;
  @include browser-prefix('user-select', none, ('webkit', 'moz', 'ms'));
  vertical-align: middle;
}

.c-btn--primary {
  color: $color-btn-primary;
  background: $color-btn-primary-bg;

  &:hover {
    background: darken($color-btn-primary-bg, 7.5%);
    border-color: darken($color-btn-primary-bg, 10%);
  }

  &:focus {
    outline: thin dotted;
  }
}
