@use 'reset-css';

@mixin max-width {
  max-width: 750px;
}

:root {
  --color-white: #fff;
  --color-primary-text: #444;
  --color-primary: tomato;
}

body,
html {
  height: 100%;
}

body {
  align-items: center;
  background: url('../img/paper-texture-pattern.jpg');
  color: var(--color-primary-text);
  display: flex;
  flex-direction: column;
  font-size: 62.5%;
  justify-content: center;
  padding: 0 1.5rem;
}

.intro {
  @include max-width;

  font-family: 'Roboto Mono', monospace;
  font-size: 1.5rem;
  line-height: 1.5;
  margin-bottom: 1.5rem;
  text-align: center;

  &__name {
    font-family: 'Roboto Slab', serif;
    font-size: 2.5rem;
  }
}

.social-links {
  @include max-width;

  display: flex;

  &__link {
    align-items: center;
    background-color: var(--color-primary-text);
    border-radius: 50%;
    color: var(--color-white);
    display: flex;
    height: 30px;
    justify-content: center;
    width: 30px;

    &:not(:last-child) {
      margin-right: 1rem;
    }

    &::before {
      content: '\f09b';
      color: tomato;
      display: inline-block;
      font-family: 'Font Awesome 5 Free';
      font-weight: 900;
      font-style: normal;
      font-variant: normal;
      font-rendering: auto;
      -webkit-font-smoothing: antialiased;
      z-index: 2;
    }
  }
}

// .container {
//   align-items: center;
//   display: flex;
//   height: 100%;
//   background-color: blue;
//   justify-content: center;
// }


// article {
//   max-width: 750px;
//   padding: 0 15px;
//   text-align: center;

//   p {
//     font: 26px/1.5 'Roboto Mono', monospace;
//     margin-bottom: 20px;
//   }

//   p em {
//     font: 40px/1.5 'Roboto Slab', serif;
//   }

// }

// .social-links {
//   display: flex;
//   justify-content: center;
//   list-style: none;

//   &:not(:last-child) {
//     margin-left: 20px;
//   }

//   &__link {
//     align-items: center;
//     background: $black;
//     border-bottom: none;
//     border-radius: 50%;
//     color: $white;
//     display: flex;
//     height: 30px;
//     justify-content: center;
//     margin-top: 20px;
//     text-decoration: none;
//     @include prefix(transform, perspective(1px) translateZ(0));
//     @include prefix(transition, background 0.15s ease-in);
//     width: 30px;

//     &:hover,
//     &:focus,
//     &:active {
//       background: $red;
//       outline: none;
//     }

//     & > .fa {
//       @include prefix(transform, translateZ(0));
//       @include prefix(transition, transform 0.15s ease-out);
//     }

//     &:hover > .fa,
//     &:focus > .fa,
//     &:active > .fa {
//       @include prefix(transform, translateY(-3px));
//     }
//   }
// }
