@import "../../../reset";

.article-list {
  
  & > li {
    border: 1px solid #ccc;
    border-radius: 10px;
    margin-bottom: 20px;
    padding: 20px;

    & .categories {
      display: flex;
      flex-wrap:wrap;
      margin-top: 20px;

      & > li {
        border: 1px solid #a034fc;
        border-radius: 10px;
        margin-right: 15px;
        padding: 15px 50px 15px 15px;
        position: relative;

        &:last-child {
          margin-right: 0;
        }

        & .delete-category {
          background: green;
          cursor: pointer;
          height: 20px;
          position: absolute;
          right: 15px;
          top: 10px;
          width: 20px;
        }
      }
    }
  }
}
