<!doctype html>
<html lang="en">
<meta charset="utf-8">
<title>Daniel Lindegren | dlindegren.com</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/reset.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Mono|Roboto+Slab&display=swap">
<div class="container">
  <article>
    <h1>Daniel Lindegren</h1>
    <p>Hello, my name is <em>Daniel Lindegren</em>. I am a day trader, and a full stack web developer
      currently living in Phoenix, Arizona.</p>
  </article>
</div><!--//END .container-->
</html>
